.btn{
    /* width: 100%; */
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.btn button{
    font-size: 14px;
   color: black;
   border: none;
    border-color: white ;
    background-color: whitesmoke;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: none;
    }
    .btn button:hover{
       background-color: darkgray;
    }